[Unit]
Description=Cronless timer %i

[Timer]
EnvironmentFile=%h/.config/systemd/user/task.d/task-%i.conf
OnCalendar=%E{TASK_SCHEDULE}
Persistent=true

[Install]
WantedBy=timers.target
